.header {
	display: block;
	width: 550px;
	height: 48px;
	padding: 16px 0px 16px 50px;
	margin-bottom: 20px;
	background: url(../../assets/images/templatemo_social_box.jpg) no-repeat;
}

.auth {
	display: block;
	float: right;
    font-size: 24px;
    line-height: 100%;
    margin-right: 60px;
    margin-top: 10px;
}